/*
Base Styles
====================================================*/

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
 /* text-transform: uppercase;*/
  letter-spacing: .02em;
  text-align: center;
  color: #44545E;
}

/* Responsive images */
img {
  width: 20%;
/*  height: 6em;
  width: 5em;*/
}

.active {
  display: inherit;
}

/*Typography (margins, letter spacing, font size for document)
===========================================================================*/
h1 {
  color: darkgrey;
}

h3 {
  padding-bottom: 2em;
}

a {
  text-decoration: none;
  color: #7B98AA;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

a:hover {
  color: #44545E;
}

/* Lists
===========================================================================*/

ul a {
  text-transform: none;
 }

li {
  display: block;
  text-align: left;
}


/* Layout
===========================================================================*/
section {
 padding-top: 8em;
}

.introduction {
  background-color: grey;
  margin-top: 4.5em;
}

.about-wrapper {
  background-color: pink;
  padding: 4em 0em;
}

./*about-wrapper h3 {
  padding-bottom: 1em;

}*/

.projects {
background-color: lightgrey;
}

.testimonials {
background-color: lightblue;
}

.contact {
background-color: pink;
}

wrappers {

}

cols {

}

/* header
===========================================================================*/

header {

}

.navbar-expand{-sm|-md|-lg|-xl}


/*nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}*/

/*nav ul {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 4;

 }*/

nav li {
  display: inline-block;
  padding: .5em;

}

nav a {
  text-transform: uppercase;

}

nav .active {
  background-color: #4f81bd;
}
.hamburger {

}

/* Carousel
===========================================================================*/

/*Hide images by default*/

/*.image-slide {
  display: none;
}
.active {
  background-color: #717171;
}*/

#carouselExampleIndicators img {
  width: 60%;
}

.carousel-indicators {
  background-color: black;
  margin: 0em;
}

.carousel-control-prev-icon {
 background-color: black;
}

.carousel-control-next-icon {
  background-color: black;
}

span {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
  transition: background-color 0.8s ease;
}

span:hover {
  background-color: yellow;
}

/* Buttons
===========================================================================*/

.button {

}

.button:hover {

}

/* Forms
===========================================================================*/

form {
  margin: 2em;
}

form button {

}

textarea {

}

/* Footer
===========================================================================*/

footer {

}

footer li {
  display: inline;
}

.socialLinks {

}

/* @MediaQuries
===========================================================================*/

@media only screen and (max-width: 790px) {
}

@media only screen and (max-width: 560px) {
  }

