/*
Base Styles
====================================================*/

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
  line-height: 2em;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
 /* text-transform: uppercase;*/
  letter-spacing: .02em;
  text-align: center;
  color: #44545E;
  background-color: #1A2226;
  /* background-color:#ECECEC */
}

/* Responsive images */
img {
  margin-top: 2.5em;
  width: 90%;
/*  height: 6em;
  width: 5em;*/
}

.active {
  display: inherit;
}

.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}

/*Typography (margins, letter spacing, font size for document)
===========================================================================*/
h1 {
  color: white;
}

h2 {
  color: white;
  font-size: 1em;
}

h3 {
  padding-bottom: 2em;
  font-size: 4em;
  text-decoration: underline#02f19f;
}

a {
  text-decoration: none;
  color: #1A2226;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

a:hover {
  color: #02f19f;
}

label {
  font-weight: bold;
  margin-bottom: 0.3em;
}



/* Lists
===========================================================================*/

ul a {
  text-transform: none;
 }

li {
  display: block;
  text-align: center;
}

.col-md {
  transition: 0.3s ease;
  background-color: #1A2226;
  border: #02f19f solid 2px;
  padding-top: 1.2em;
  padding-bottom: 0.3em;
  margin: 0.3em;
  border-radius: 1%;
}

.col-md:hover {
  border: #02f19f solid 4px;
  background-color: #1A2226;
  /* color:#1A2327;
  padding-top: 1.2em;
  padding-bottom: 0.3em;
  margin: 0.3em; */
  transform: scale(1.2, 1.2);
  z-index: 2;
}

/* .col-md:hover h2 {
  color: #1A2327;
} */


/* Layout
===========================================================================*/
section {
 padding-top: 8em;
}

.introduction {
  background-color: grey;
  margin-top: 4.5em;
}

h3.title {
  color: white;
  text-decoration: underline#02f19f;
}

#projects {
  color: #F1F1ED;
}

#testimonials {
 color: #F1F1ED;
}

.col-lg-6 p:hover {
  color:white;
}


/* header
===========================================================================*/

header {
  background-image: url('../images/chris-leipelt.jpg');
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

header h1 {
  padding-top: 4em;
  padding-left: 1em;
  font-size: 4em;
}

header h2 {
  padding-left: 4em;
  font-size: 2.5em;
}

.navbar-expand{-sm|-md|-lg|-xl}

.navbar {
  background: white;
  width: 100%;
  z-index: 4;
}

nav li {
  display: inline-block;
  padding: .5em;
}


.profilePic {
  padding-bottom: 4em;
}

.profilePic img {
  transition: 0.3s ease;
  background: white;
  opacity: 0.5;
}

.profilePic img:hover {
  opacity: 1.0;
  transform: scale(1.2, 1.2);
}

/* title fade in https://codepen.io/jmelgoza/pen/jEaGYg*/
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.fade-in.two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay:1.5s;
  animation-delay: 1.5s;
}

.fade-in.three {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

/* Carousel
===========================================================================*/

#carouselExampleIndicators img {
  width: 60%;
}

.carousel-indicators {
  background-color: #1A2225;
  margin: 0em;
  z-index: -1;
}

span {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
  transition: 0.8s ease;
}

span:hover {
  background-color: #F1F1ED;
}

/* cards
===========================================================================*/
#card {
  padding-top: 3em;
}

h1.card-header {
  color: #1A2225;
}

p.card-text {
  color: grey;
}

.tech {
  border: grey solid 1px;
  font-size: 0.7em;
  padding: 0em 1.5em;
  pointer-events: none;
  border-radius: 3px;
}

div.col-sm{
  padding: 0em;
}

.techstack {
  margin: 0em 4em;
}


/* skills
===========================================================================*/
#skills {
  color: white;
  font-size: 1em;
  padding: 10em 0em;
  background-color: #1A2226;
}

#skills h2 {
  font-size: 1.5em;
}


/* Testimonials
===========================================================================*/

  blockquote {
    display: none;
  }

/* Buttons
===========================================================================*/

button {
  background-color: white;
  border: 2px solid #1A2225;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: .5em 3em;
  margin-top: 1em;
  transition: 0.5s;
  border-radius: 3%;
}

button:hover {
  background-color: #02f19f;
  border: 2px solid #45545E;
  color: #45545E;
}

/* Forms
===========================================================================*/

form {
  padding: 2em;
  background-color: white;
}


form div {
  padding-top:.5em;
}

form input{
  background-color: #F1F1ED;
}

::placeholder {
  font-size: 0.8em;
}

/* Footer
===========================================================================*/

footer {
 height: 3em;
}

footer li {
  display: inline;
}

footer a {
  margin: 0em 0.2em;
  color: #02f19f;
}

i {
  font-size: 2em;
  padding: 0.5em 0em;

}

/* @MediaQuries
===========================================================================*/

@media only screen and (max-width: 790px) {

  h1, h2 {
    transition: smooth;
    font-size: 30px;

  }




@media only screen and (max-width: 570px) {

  header {
    /*avoid parallax in mobile view*/
    background-attachment: scroll;
  }

  header  {

  }

  .title h1 {
  position: absolute;
  font-size: 3.8em;
  top: -4em;
  left: -2.5em;
}

  .title h2 {
    position: absolute;
    top: 13em;
    left: -7em;
}

  #introduction {
    padding: 3em;
  }

  #projects {
    padding-top: 3em;

  }

  section #projects{
    background-color: #F5F5F5;
  }


  #testimonials {
    padding: 2em 4em;
    margin-top: 3em;
  }

  #form {
    padding-top: 1em;
  }
}

